<div class="main">
  <mat-card>
    <h2>Register</h2>
    <mat-form-field
      ><input type="text" matInput placeholder="First Name"
    /></mat-form-field>
    <mat-form-field
      ><input type="text" matInput placeholder="Last Name"
    /></mat-form-field>
    <mat-form-field
      ><input type="email" matInput placeholder="Email"
    /></mat-form-field>
    <mat-form-field
      ><input type="password" matInput placeholder="Password"
    /></mat-form-field>
    <mat-form-field
      ><input type="password" matInput placeholder="Confirm Password"
    /></mat-form-field>
  </mat-card>
</div>
