<div class="main">
  <mat-card>
    <form [formGroup]="form" (submit)="onSubmit()">
      <h2 color="primary">Register</h2>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" [ngClass]= "{'error': isValid('firstName')}" matInput formControlName="firstName" required
      /></mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName"
      /></mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" [ngClass]= "{'error': isValid('email')}" formControlName="email" matInput required />
        <mat-icon matSuffix color="primary">mail_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" [ngClass]= "{'error': isValid('password')}" matInput formControlName="password" required />
        <mat-icon matSuffix class="material-icons-outlined" color="primary"
          >vpn_key</mat-icon
        >
      </mat-form-field>
      <mat-form-field appearance="outline" >
        <mat-label>Confirm Password</mat-label>
        <input
          type="password" [ngClass]= "{'error': isValid('confirmPassword')}"
          matInput
          formControlName="confirmPassword"
          required
        />
        <mat-icon matSuffix class="material-icons-outlined" color="primary"
          >verified_user</mat-icon
        > 
        <mat-hint *ngIf="form.errors?.mismatchedFields">Passwords do not match</mat-hint>
        </mat-form-field
      ><br /><br />

      <div class="button-flex-container">
        <button
          mat-raised-button
          color="primary"
          layout-align="center center"
          type="submit"
        >
          Sign up
        </button>
      </div>
    </form>
  </mat-card>
</div>
