/* You can add global styles to this file, and also import other style files */
// style file for Angular Material
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// Import the Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
